/*fonts*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
  vertical-align: middle;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*tools*/
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.btn {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer-overlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(254, 254, 254, 0.9);
}

/*base*/
body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans",  "Arial", sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding: 0;
  /*box-shadow: -30px 0px 50px -500px #000000, 30px 0px 50px -500px #000000;*/
  }

/*layout*/

.container {
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
}

/*module*/
.main-menu ul {
  margin: 0;
  padding: 0 6%;
  list-style: none;
  font-size: 0;
  position: relative;
}

.main-menu li {
  width: 20%;
}

.main-menu a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-menu li {
  display: block;
  padding: 13px 0;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
  text-align: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
  text-align: right;
}

.main-menu li:nth-child(2) {
  padding-left: 31px;
}

.main-menu li:nth-child(4) {
  padding-right: 31px;
}

.index-logo {
  width: 138px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.banner {
  background-color: #81b3d2;
  background-image: url("../img/img_mountains_mask.png"), url("../img/bg_mountains.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center bottom, center 21%;
  height: 508px;
  padding-top: 76px;
}

.banner img {
  display: block;
  margin: 0 auto;
}
.promo {
  text-align: center;
}

.promo-header  {
  width: 576px;
  margin: auto;
}

.promo-header h1 {
  margin: 0;
  padding: 0;
  padding-top: 61px;
  margin-bottom: 26px;
  font-size: 21px;
  line-height: 26px;
}

.promo-header p {
  margin: 0;
  padding: 0;
  line-height: 26px;
  margin-bottom: 52px;
}

.reason {
  width: 33.3333%;
  background-color: #eeeeee;
}

.media-block .reason {
  background-color: #81b3d2;
  color: #ffffff;
}

.reason h2 {
  width: 153px;
  margin: auto;
  margin-bottom: 24px;
}

.media-block h2 {
  padding-top: 55px;
}

.reason p {
  max-width: 285px;
  margin: auto;
  padding: 20px 5px 0 5px;
  margin-bottom: 52px;
}

.media-block .photo {
  position: relative;
  width: 66.6666%;
  height: 256px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.photo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.feature {
  width: 33.3333%;
}

.feature-icon {
  position: absolute;
  background: url("../img/bg_feature_icons_sprite.png") no-repeat top left;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
}

.housing .feature-icon {
  background-position: 0 0;
  width: 75px;
  height: 72px;
}

.food .feature-icon {
  background-position: 0 -82px;
  width: 74px;
  height: 70px;
}

.souvenirs .feature-icon {
  background-position: 0 -162px;
  width: 64px;
  height: 76px;
}

.feature h2 {
  position: relative;
  margin-top: 56px;
  padding-top: 104px;
  margin-bottom: 25px;
}

.feature p {
  max-width: 295px;
  padding: 0 5px;
  margin: auto;
  margin-bottom: 83px;
}

.other-reasons h2 {
  padding-top: 45px;
}

.offer {
  position: relative;
  margin: auto;
}

.hotel-offer {
  text-align: center;
}

.hotel-offer b {
  display: block;
  font-size: 30px;
  line-height: 24px;
  padding-top: 65px;
  margin: auto;
  margin-bottom: 30px;
}

.hotel-offer p {
  width: 440px;
  margin: auto;
  line-height: 24px;
  margin-bottom: 46px;
}

.hotel-offer .hotel-search {
  padding: 31px 140px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background: #766357;
}

.hotel-search-form {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  line-height: 26px;
  background: #FFFFFF;
}

.hotel-search-container {
  width: 458px;
  margin: 54px auto;
}

.hotel-search-container label {
  display: inline-block;
  width: 96px;
  margin-right: 12px;
}

.hotel-search-container input {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  border: none;
  background: #F2F2F2;
}

.date-field-container {
  width: 458px;
  position: relative;
  margin-bottom: 28px;
}

.date-field-container input {
  width: 346px;
  padding: 9px 160px 9px 12px;
}

.open-calendar {
  position: absolute;
  width: 39px;
  height: 39px;
  color: #c2c2c2;
  right: 0;
  top: 0;
  line-height: 38px;
  font-size: 21px;
}

.plus .icon-plus,
.minus .icon-minus {
  font-size: 14px;
  line-height: 38px;
}

.guest-field-container {
  display: inline-block;
  width: 231px;
  margin-right: -7px;
}

.guest-field-container .kids {
  width: auto;
  margin-left: 50px;
  margin-right: 21px;
}

.guest-number {
  display: inline-block;
  position: relative;
}

.guest-field-container input {
  padding: 9px 47px;
  text-align: center;
}

.guest-field-container button {
  position: absolute;
  width: 39px;
  height: 39px;
  border: none;
  padding: 0;
  font-size: 25px;
  background-color: inherit;
  color: #A9A9A9;
}

.guest-field-container .minus {
  left: 0;
  top: 0;
}

.guest-field-container .plus {
  right: 0;
  top: 0;
}

.find-hotel {
  display: inline-block;
  margin: 0 auto;
  margin-top: 54px;
  padding: 16px 195px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  background: #81b3d2;
}

.map {
  height: 593px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.map img {
  position: absolute;
  width: 1200px;
  height: 593px;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -297px;
}

.filter-form {
  background: #81b3d2 url("../img/bg_mountains_blurred.jpg");
  background-position: center;
}

.filter-form fieldset {
  width: 148px;
  margin: 0;
  padding: 0;
  border: none;
  color: #ffffff;
  text-align: left;
  position: relative;
}

.filter-form .infrastructure-features {
  margin: 26px 0 0 6%;
}

.filter-form .housing-type {
  margin: 26px 0 0 9%;
}

.filter-form legend {
  margin-bottom: 25px;
}

.infrastructure-features input,
.housing-type input {
  visibility: hidden;
  position: absolute;
  left: 0;
}

.infrastructure-features label,
.housing-type label {
  display: inline-block;
  width: 60px;
  margin: 0 32px 24px 12px;
  position: relative;
}

input + .icon-checkbox::before {
  content: "\2610";
  margin: 0;
  font-size: 26px;
}

input:checked + .icon-checkbox::before {
  content: "\2611";
  margin: 0;
  font-size: 26px;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter-range {
  box-sizing: content-box;
  margin-top: 27px;
  margin-right: 6%;
  padding-bottom: 34px;
  max-width: 320px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: -10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  box-sizing: content-box;
  width: 90px;
  padding-left: 63px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  width: 134px;
  margin: 0 auto;;
  padding: 6px 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.sort  {
  margin: 0 6%;
  font-size: 12px;
  line-height: 18px;
}

.sort-elements {
  display: inline-block;
  margin: 0;
  padding: 27px 0;
  margin-right: 45px;
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
}

.sorting {
  display: inline-block;
  padding-top: 36px;
}

.sort-type ul {
  margin: 0;
  margin-left: 33px;
  padding: 0;
  padding-top: 36px;
}

.sort-by li {
  display: inline-block;
  margin-right: 31px;
}

.sort-by a {
  color: #cccccc;
  text-decoration: none;
}

.sort-direction button {
  margin-top: 31px;
  padding: 0;
  background: none;
  color: #cccccc;
  font-size: 21px;
}

.icon-up-dir::before,
.icon-down-dir::before {
  padding: 0;
  margin: 0;
}

.hotels ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel {
  padding: 0 6%;
}

.hotels > li {
  border-top: 1px solid #E5E5E5;
}

.hotels > li:last-child {
  border-bottom: 1px solid #E5E5E5;
}

.hotel-info {
  width: 66%;
  margin-top: 30px;
}

.hotel-photo {
  margin: 0;
  margin-right: 30px;
  width: 135px;
  height: 90px;
}

.hotel-name {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 9px;
}

.hotel-type {
  margin-right: 12px;
  display: inline-block;
  width: 100px;
}

.btn-details {
  padding: 3px 16px;
  color: #ffffff;
  background: #81b3d2;
  margin-top: 12px;
  margin-right: 4px;
}

.btn-book {
  padding: 3px 15px;
  color: #ffffff;
  background: #766357;
  margin-top: 12px;
}

.hotel-rating {
  width: 33%;
  position: relative;
  padding-top: 62px;
  margin: 30px 0;
  text-align: right;
}

.rating-stars {
  position: absolute;
  top: 0;
  right: 0;
}

.rating-stars li {
  font-size: 19px;
  display: inline-block;
}

.rating-stars li:before {
  margin: 0;
  color: #81B3D2;
}

.rating-block {
  display: inline-block;
  background: #F2F2F2;
  padding: 3px 13px 3px 15px;
}

.main-footer section {
  width: 33.3333%;
  text-align: center;
}

.footer-hashtag {
  padding: 48px 0;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  margin-top: 36px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 1px;
  text-decoration: none;
  background: #81b3d2;
  color: white;
  line-height: 48px;
  font-size: 21px;
  transition:
  color 0.5s,
  background-color 0.5s;
}


.social-btn-fb {
  background-position: 15px -23px;
}

.social-btn-ytb {
  background-position: 13px -60px;
}

.footer-copyright {
  margin-top: 41px;
}

.footer-copyright p {
  display: inline-block;
  line-height: 26px;
  vertical-align: top;
  margin: 5px 5px 0 0;
}

.footer-copyright .logo-link {
  display: inline-block;
  width: 113px;
  height: 39px;
  background: url('../img/img_copyright_sprite.png');
}

/*state*/
.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active{
  color: #b2b2b2;
}

.main-menu .active {
  color: #766357;
}

.main-menu .active:hover {
  color: #604e43;
}

.main-menu .active:active {
  color: #d6d0cc;
}

.hotel-search-form input:hover {
  background: #ebebeb;
}

.hotel-search-form input:focus {
  box-shadow: inset 0 0 0 2px #e5e5e5;
  background: #ffffff;
}

.open-calendar:hover {
  color: #000000;
}

.open-calendar:active {
  color: #81b3d2;
}

.plus .icon-plus:hover,
.minus .icon-minus:hover {
color: #000000;
}

.plus .icon-plus:active,
.minus .icon-minus:active {
color: #81b3d2;
}

.find-hotel:hover {
  background: #669ec0;
}

.find-hotel:active {
  background: #5496bd;
  color: #88b6d1;
}

.checkbox-icon[disabled] {
  opacity: 0.5;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort-by .active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-by a:hover {
  color: #81b3d2;
}

.sort-by a:active {
  color: #000000;
  border-bottom: none;
}

.sort-direction button:hover {
  color: #000000;
}

.sort-direction button:active {
  color: #81b3d2;
}

.sort-direction .active {
  color: #81b3d2;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.btn-details:hover {
  background: #669ec0;
}

.btn-details:active {
  background: #5496bd;
  color: #88b6d1;
}

.btn-book:hover {
  background: #604e43;
}

.btn-book:active {
  background: #503e33;
  color: #857871;
}

.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

.logo-link:hover {
  background-position: 0 -59px;
}

.logo-link:active {
  background-position: 0 -118px;
}

.is-hidden {
  display: none;
}
