/*tools*/
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
  outline: 2px dashed blue;
}

.float-right {
  float: right;
  outline: 2px dashed blue;
}

/*base*/
body {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans Regular",  "Arial", sans-serif;
}

figure,
div,
section,
article,
fieldset,
p {
  margin: 0;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Regular",  "Arial", sans-serif;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Regular",  "Arial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/*layout*/
.container {
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: 2px solid blue;
}

.main-header {
  height: 56px;
  outline: 2px solid blue;
}

.main-footer {
  height: 120px;
  outline: 2px solid red;
}

/*module*/
.main-menu ul {
  padding: 0 46px;
}

.index-logo {
  width: 138px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.main-menu li {
  width: 20%;
}

.main-menu .float-left {
  text-align: left;
}

.main-menu .float-right {
  text-align: right;
}

.banner {
  background-image: url("../img/bg_mountains.jpg");
  height: 514px;
  padding-top: 76px;
  outline: 2px dashed blue;
}

.banner img {
  display: block;
  margin: 0 auto;
}

.promo-header  {
  height: 211px;
  display: table;
  margin: auto;
  outline: 2px dashed blue;
}

.reason {
  width: 33.3333%;
  height: 256px;
  background-color: #eeeeee;
}

.media-block .reason {
  background-color: #81b3d2;
}

.media-block .photo {
  width: 66.6666%;
  height: 256px;
  overflow: hidden;
}

.features section {
  width: 33.3333%;
  height: 330px;
}

.hotel-offer {
  height: 291px;
  display: table;
  margin: auto;
}

.hotel-search-form {
  position: fixed;

}

.map {
  width: 1200px;
  height: 593px;
  outline: 2px dashed blue;
}

.main-footer section {
  width: 33.3333%;
  height: 120px;
}

.filter-form {
  background-image: url("../img/bg_mountains_blurred.jpg");
  background-position: center center;
}

.filter-form fieldset,
.filter-form .price-per-day {
  width: 30%;
  height: 217px;
}

.filter-form fieldset:last-child {
  width: 60%;
}

.sort * {
  display: inline-block;
}

 .hotel-info {
  width: 66.6666%;
  height: 152px;
  outline: 2px dashed blue;
}

 .hotel-rating {
  width: 33.3333%;
  height: 152px;
  text-align: right;
}

/*state
.is-hidden {
  display: none;
}*/
